@{
    ViewData["Title"] = "We Build";
}

    <div style="align-content:center; text-align:center; align-items:center;">
        <h1>@ViewData["Title"]</h1>
        <h9>@ViewData["Message"]</h9>
        <h5>@ViewData["Description"]</h5>


        <p> <font style='font-weight:bold;'> Company: </font> @ViewData["Company"]</p>
    </div>
