@{
    ViewData["Title"] = "We Build";
}
<h1>@ViewData["Title"]</h1>
<h9>@ViewData["Message"]</h9>
<h5>@ViewData["Description"]</h5>

<p> <font style='font-weight:bold;'> Company: </font> @ViewData["Company"]</p>

