
@{
    ViewData["Title"] = "AdminMenu";
}

<h4>Administrator</h4>

<div class="row">
    <a href="~/Users/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/users.png" width="30%" />
            <h3>Manage Users</h3>
        </div>
    </a>

    <a href="~/Incharges/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/incharges.png" width="30%" />
            <h3>Manage Incharges</h3>
        </div>
    </a>

    <a href="~/Teams/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/teams.png" width="30%" />
            <h3>Manage Teams</h3>
        </div>
    </a>

    <a href="~/Employees/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/employees.png" width="30%" />
            <h3>Manage Employees</h3>
        </div>
    </a>

    <a href="~/Presences/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/presences.png" width="30%" />
            <h3>Manage Presences</h3>
        </div>
    </a>
    <a href="~/Schedules/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/schedules.png" width="30%" />
            <h3>Manage Schedules</h3>
        </div>
    </a>
</div>

