@{
    ViewData["Title"] = "Contact";
}
    <div style="text-align:center">
        <h2>@ViewData["Title"]</h2>

        <address>
            <div style="text-align:center">
                <strong>Programming Is Art</strong><br />
                <p>If you want any type of Program, Web Page, App or other services from IT</p>
                <p>Please contact us and make your ideas come true!</p>

        </address>
    </div>
        <address>


            <div style="text-align:center">
                <strong>Team:</strong><br />
                Pedro Capela<br />
                Alexandre Vale<br />
                Henrique Neto<br />
                Bruno Carvalho<br />
                Fabio Sequeira<br />
            </div>
            <strong>Support:</strong>programmingisart2019@gmail.com<br />
        </address>
