
@{
    ViewData["Title"] = "Statistics";
}

<h4>Statistics</h4>

<p>
    <a asp-action="GoAdminMenu" class="btn btn-default">Home</a>
</p>

<div class="row">
    <a href="~/Employees/Top5LatesEmploy">
        <div class="col-lg-5 text-center">
            <h3>Top 5 Lates Employ</h3>
        </div>
    </a>

    <a href="~/Employees/Top5EmployThatAskedMoney">
        <div class="col-lg-5 text-center">
            <h3>Top 5 Employs that Asked for Money</h3>
        </div>
    </a>

    <a href="~/Teams/Top5CountrysMoney">
        <div class="col-lg-5 text-center">
            <h3>Top 5 Countrys that Asked For Money</h3>
        </div>
    </a>
</div>
